.header
    position: fixed
    left: 0
    right: 0
    top: 0
    z-index: 999
    background: #111
    padding: 1.5rem 2rem
    .container
        max-width: 1024px
        width: 100%
        margin: 0 auto
        display: flex
        justify-content: space-between
        nav, nav ul
            display: flex
            align-items: center
            gap: 2rem
        nav ul a
            font-size: 1.6rem
        .logo
            font-size: 2rem
    a
        color: #fff