.starthomePage
    height: 80vh
    background: #b01bba url(../../public/dog-2.png) no-repeat
    background-size: cover 
    background-position:  center
    display: flex
    justify-content: center
    align-items: center


    .content
        width: 400px
        transform: translate(16px,-22px)
        padding: 2rem 3rem
        background: #00000047
        h1, p, a
            color: #fff
            margin-bottom: 1.6rem
            font-weight: bold
            text-shadow: .1rem .1rem .1rem #111
            letter-spacing: 0.3rem
        h1
            font-size: 6rem
            line-height: .9
            
        p
            font-size: 1.7rem
           